$brand-color : #1ed760;
$clr1 : #000000;
$clr2 : #ffffff;
$bgc-main : #121212;
$nav-btn-clr: rgba(0, 0, 0, .7);
$song-bgc-home :lighten($bgc-main , 3%);
$fill : #b3b3b3;
$bar-fill: #a7a7a7;
$mpclr: #181818;
$main-app-padding : 30px;
$main-mobile-padding : 10px;

$mobile-size: 770px;

