.queue-main{
    min-height: 100vh;
    h1{
        padding-top: 15px;
        font-size: 1.7em;
    }
    
    h3{
        margin-top: 1em;
        font-size: 1.2em;
        opacity: .7;
    }

    .song-list{
        margin-top:16px ;
    }
}